<%- include("./partials/header") %>

    
    <div class="container" style="display:block; padding-top:100px;">
        <h1>CS491 Senior Design Project</h1>
        <hr>
        <h3>Project Description:</h3>
        <p class="lead">Facera is an AR-based
             video conferencing app which aims to give a fresh 
             breath to already outdated video calls utilizing cutting 
             edge technologies in order to make video calls more memorable 
             and feeling to people. The app provides users with a unique ability 
             to place a 3D frame that streams the video call anywhere.
        </p>

        <p class="lead">The app will reframe old-style video conferencing by using AR. 
            Through this app, the user will call another user by using his front camera to record 
            his face. On the other end, the callee will be able to project a 3D  frame with an ongoing 
            video stream onto any surface therefore making it appear in the room of a callee from the back 
            camera. Such an approach will be more pleasing for the users as it makes the caller appear close 
            to the callee and adds interactive features to the call
        </p>

        <p class="lead">The main goal of this project is to set the direction 
            for new video call apps by utilizing the AR and perhaps combining 
            it with AI in the future in order to save bandwidth.
        </p>
        
        <hr>
        <h3>Group Members:</h3>
        <ul>
            <li>Taha Khurram - 21701824</li>
            <li>Umer Shamaan - 21701563</li>
            <li>Zeynep Berfin Gökalp - 21601956</li>
            <li>Emil Alizada - 21701327</li>
            <li>Verdiyev Zulfugar - 21701208</li>
        </ul>

        <hr>
        <h3>Supervisor</h3>
        <p>Asst. Prof. Dr. Ayşegül Dündar</p>

        <hr>
        <h3 >Reports</h3>

        <div class="d-flex justify-content-sm-around">

            <div class="card bg-light" style="width: 18rem;">
                <img src="https://images.squarespace-cdn.com/content/v1/51814c87e4b0c1fda9c1fc50/1530112270347-KZI9LY64792R48LWB76C/ke17ZwdGBToddI8pDm48kPHuXXQ5aXkivCq6BeeGHLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaRiPhSzHnqInJjzxHCnpvhE6X8TF1jsOuwJE3GOLjZBS9mayiR-vA71CXrLbFBG1g/blueprint-964629_1920.jpg?format=1000w" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Specifications Report</h5>
                  <p class="card-text">The project specifications report gives a title to and brief description of the proposed project.</p>
                  <a target="_blank" href="/specification_report" class="btn btn-primary">See Report</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://d29fhpw069ctt2.cloudfront.net/photo/7120/preview/2d106092-a1ec-41dd-8a5e-4983fb1d924e_1280x1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Analysis Report</h5>
                  <p class="card-text">The analysis report contains a detailed analysis of the problem eg. requirements and constraints etc.</p>
                  <a target="_blank" href="/analysis_report" class="btn btn-primary">See Report</a>
                </div>
            </div>

        </div>


    </div>      

<%- include("./partials/footer") %>