<%- include("./partials/header") %>

    
    <div class="container" style="display:block; padding-top:100px;">
        <h1>CS491 Senior Design Project</h1>
        <hr>
        <h3>Project Description:</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel velit euismod nisl efficitur 
            ornare eu ut nibh. Integer eleifend lorem lorem, in gravida dolor ullamcorper eget. Nulla sed enim odio. 
            Donec fringilla molestie luctus. Ut sollicitudin purus nec erat molestie, eget tincidunt diam lobortis. 
            Sed quam leo, posuere non rhoncus ac, sodales vehicula orci. Quisque vulputate massa vitae nisl blandit 
            auctor. In a sodales lorem, sit amet congue nisi. Nam convallis placerat leo, non luctus risus euismod sit 
            amet. Donec varius blandit libero, hendrerit efficitur sapien pulvinar at. Integer vitae sagittis odio. 
            Fusce vitae nisl eget dui suscipit pellentesque vitae posuere lacus. Ut ultricies justo et lorem elementum 
            dictum. Pellentesque efficitur, nibh id rhoncus rhoncus, nisl dui bibendum diam, et malesuada ligula felis eget augue.</p>
        
        <hr>
        <h3>Group Members:</h3>
        <ul>
            <li>Taha Khurram - 21701824</li>
            <li>Umer Shamaan - 21701563</li>
            <li>Zeynep Berfin Gökalp - 21601956</li>
            <li>Emil Alizada - 21701327</li>
            <li>Verdiyev Zulfugar - 21701208</li>
        </ul>

        <hr>
        <h3>Supervisor</h3>
        <p>Asst. Prof. Dr. Ayşegül Dündar</p>
    </div>      

<%- include("./partials/footer") %>