<%- include("./partials/header") %>

    
    <div class="container" style="display:block; padding-top:100px;">
        <h1>CS491 Senior Design Project</h1>
        <hr>
        <h3>Project Description:</h3>
        <p class="lead">AR (short for augmented reality) is a technique for broadening interactive experience in a natural
            environment. It gives endless opportunities for manipulating the perception of reality. With today’s
            increasing technological capabilities, AR is becoming more useful and popular. Its potential to give
            intuitive user experience provides developers with many possibilities to create effective and useful
            platforms especially in the field of entertainment.
        </p>

        <p class="lead">We decided to create a video messaging platform that can enhance the user engagement and create a
            more memorable experience by utilizing aspects of the AR. The main purpose of our platform is to
            break through the conventional methods of video messaging and harness the power of AR, to make
            video messaging much more entertaining. This will also open in a new genre of video messaging (In
            future implementation video calling as well) which will feature 3D models in an interactive
            environment through AR instead of the conventional video message which enables users to create
            more realistic and feature-rich facial animation. The primary goal of the platform is to detect and track
            face expressions in a video-message in which will then be mimicked by a 3D avatar placed in the
            frame of the camera using AR.
        </p>

        <p class="lead">The main goal of this project is to set the direction 
            for new video call apps by utilizing the AR and perhaps combining 
            it with AI in the future in order to save bandwidth.
        </p>
        
        <hr>
        <h3>Group Members:</h3>
        <ul>
            <li>Taha Khurram - 21701824</li>
            <li>Umer Shamaan - 21701563</li>
            <li>Zeynep Berfin Gökalp - 21601956</li>
            <li>Emil Alizada - 21701327</li>
            <li>Verdiyev Zulfugar - 21701208</li>
        </ul>

        <hr>
        <h3>Supervisor</h3>
        <p>Asst. Prof. Dr. Ayşegül Dündar</p>

        <hr>
        <h3 >Reports</h3>

        <div class="d-flex justify-content-sm-around">

            <div class="card bg-light" style="width: 18rem;">
                <img src="https://images.squarespace-cdn.com/content/v1/51814c87e4b0c1fda9c1fc50/1530112270347-KZI9LY64792R48LWB76C/ke17ZwdGBToddI8pDm48kPHuXXQ5aXkivCq6BeeGHLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaRiPhSzHnqInJjzxHCnpvhE6X8TF1jsOuwJE3GOLjZBS9mayiR-vA71CXrLbFBG1g/blueprint-964629_1920.jpg?format=1000w" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Specifications Report</h5>
                  <p class="card-text">The project specifications report gives a title to and brief description of the proposed project.</p>
                  <a target="_blank" href="/specification_report" class="btn btn-primary">See Report</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://d29fhpw069ctt2.cloudfront.net/photo/7120/preview/2d106092-a1ec-41dd-8a5e-4983fb1d924e_1280x1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Analysis Report</h5>
                  <p class="card-text">The analysis report contains a detailed analysis of the problem eg. requirements and constraints etc.</p>
                  <a target="_blank" href="/analysis_report" class="btn btn-primary">See Report</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/2017/05/lh3.googleusercontent.com7pcv1lkuqebfu2aoy7ky9qzpq-4be7912ac3397d6abc68b4f9b216a7bfb47f3cca" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">High Level Report</h5>
                  <p class="card-text">High-level or system design is the transportation of the analysis model into a system design model.</p>
                  <a target="_blank" href="/highLevel_report" class="btn btn-primary">See Report</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://smitasin.com/diagrams/DC-Switch-STP.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Low Level Report</h5>
                  <p class="card-text">The high-level design produced at the end of CS 491 course is refined into the detailed low-level design document.</p>
                  <a target="_blank" href="/lowLevel_report" class="btn btn-primary">See Report</a>
                </div>
            </div>

        </div>


    </div>      

<%- include("./partials/footer") %>